<h2>Edit Landmark <%=@landmark.name%></h2>


<form action="/landmarks/<%= @landmark.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

<label><p><strong>New Name: <input type="text" name="landmark[name]" id="landmark_name"></strong></p></label>

<label><p><strong>Choose New Title</strong></p></label>
<% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" name="landmark[title_ids][]" value="<%= title.id %>" id="<%= title.name %>" <%='checked' if @landmark.titles.include?(title) %>></input>
    </br>
  <% end %>
<p>And/Or Create New Title: <input type="text" name="title[name]" id="new_title_name"></input></p>

<label><p><strong>Landmark: <%Landmark.all.each do |landmark|%></strong></p></label>
  <label><%=landmark.name%></label>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%= landmark.name %>" <%='checked' if @figure.landmarks.include?(landmark) %>></input>
  <br>
<%end%>
<p>And/or Create New Landmark: <input type="text" name="landmark[name]" id="new_landmark"></input></p>
  <br>
<input type="submit" value="Edit Figure">
</form>
